body{height: 100%;}


.sidebar_link_highlight
{
background-color: #fff !important;
color: #000 !important;
font-size: 14px !important;
font-weight: bold !important;
}

.sidebar_menu_item:hover{
    background-color: #fff !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.red{color:red;}
.green{
    color : #21FF00;;}
.clear{clear: both;float: none;font-size: 14px;}
#changePasswordStatus{min-height:50px;}

/*------------  jtable. styles  ---------------*/
div.jtable-main-container > div.jtable-title {
    background-color: #11263E;
    padding-left: 10px;
}


div.jtable-main-container > table.jtable > thead {
    background-color: #3D4E5D;
}

div.jtable-main-container > table.jtable {
    border: 1px solid #3D4E5D;
    border-collapse: collapse;
    border-spacing: 0px;
}

div.jtable-main-container > div.jtable-bottom-panel {
    background-color: #3D4E5D;
    color: #FFF;
    min-height: 22.9px;
    font-size: 13px;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #3D4E5D;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-disabled:hover {
    background-color: #A1ADBC;
}


div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
    background-color: #11263E;
    margin: 1px;
    padding: 2px 5px;
    color: #FFF;
}

div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next:hover {
    background-color: #A1ADBC;
}

div.jtable-main-container > div.jtable-title div.jtable-toolbar span.jtable-toolbar-item {
    background-color: #FFD559;
    color: #0B0000;
    font-weight: bold;
}
div.jtable-main-container > div.jtable-title div.jtable-toolbar span.jtable-toolbar-item.jtable-toolbar-item-hover {
    background-color: #fff;
    padding-bottom: 6px;
    font-weight: bold;
}

div.jtable-main-container > div.jtable-title div.jtable-toolbar span.jtable-toolbar-item.jtable-toolbar-item-add-record:hover span.jtable-toolbar-item-icon {
    background-image: url("../img/add1.png");
}

div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
    background-color: #fff;
    margin: 1px;
    padding: 2px 5px;
    color: #000;
}

div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-size-change select option,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-size-change select,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page select option,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page select
{
    color:#000;
    font-weight: bold;
}



/*------------  jquery ui styles  ---------------*/
.ui-dialog .ui-dialog-titlebar-close{color:#000;}
.xclosemark{background-image: url("jquery/images/ui-icons_222222_256x240.png");}
.ui-widget-header {background: #11263E;border: 0px solid #e78f08;}
#LoadRecordsButton{float: left;background-color: #ffd559;border:none;font-weight: bold;}
#LoadRecordsButton:hover{background-color: #fff;}
.x-navigation li > a {padding: 10px 10px 10px 15px;}


/*------------  jquery ui styles  ---------------*/
.sazzad-file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.sazzad-file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.sazzad-file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.sazzad-file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.sazzad-file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.sazzad-file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.sazzad-file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.sazzad-file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.sazzad-file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.sazzad-file-upload .file-select.file-select-disabled{opacity:0.65;}
.sazzad-file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.sazzad-file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.sazzad-file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.x-navigation li.active > a {background: #5b6d7d;}